*{
    margin:0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}
.container{
    width: 100%;
    min-height: 100vh;/*this means that 100% of the viewportheight, so thecontainer will be at least as tall as the screen. If the _content inside is taller than the screen it will go beyond this minimum.*/
    background: linear-gradient(135deg, #153677, #4e085f);
    padding: 10px;
}